/* [project]/styles/index.css [client] (css) */
@layer base {
  @apply border-border;

  body {
    font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  code, pre {
    font-family: JetBrains Mono, Courier New, monospace;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 20px rgba(var(--primary), .2);
    }

    50% {
      box-shadow: 0 0 40px rgba(var(--primary), .4);
    }
  }
}

:root {
  --background: #fcfcfc;
  --foreground: #081822;
  --card: #f6f9fb;
  --card-foreground: #081822;
  --popover: #fff;
  --popover-foreground: #081822;
  --primary: #00708b;
  --primary-foreground: #fcfcfc;
  --secondary: #005a5e;
  --secondary-foreground: #fcfcfc;
  --accent: #00a792;
  --accent-foreground: #fcfcfc;
  --muted: #e9f0f5;
  --muted-foreground: #5d7587;
  --destructive: #ee343b;
  --destructive-foreground: #fcfcfc;
  --border: #d8dfe4;
  --input: #d8dfe4;
  --ring: #00708b;
  --radius: .75rem;
  --chart-1: #00708b;
  --chart-2: #00a792;
  --chart-3: #008955;
  --chart-4: #437dde;
  --chart-5: #488e38;
  --sidebar: #f2f6f8;
  --sidebar-foreground: #081822;
  --sidebar-primary: #00708b;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #daebf1;
  --sidebar-accent-foreground: #081822;
  --sidebar-border: #d8dfe4;
  --sidebar-ring: #00708b;
  --shadow-color: #00708b;
  --shadow-opacity: .15;
  --shadow-blur: 24px;
  --shadow-spread: -4px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 8px;
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: JetBrains Mono;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(98.84% .0000298023 -.0000119209);
    --foreground: lab(7.21722% -3.34518 -9.42569);
    --card: lab(97.6882% -.8232 -1.65225);
    --card-foreground: lab(7.21722% -3.34518 -9.42569);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(7.21722% -3.34518 -9.42569);
    --primary: lab(42.6287% -33.6028 -41.2853);
    --primary-foreground: lab(98.84% .0000298023 -.0000119209);
    --secondary: lab(34.1976% -48.7468 -19.9106);
    --secondary-foreground: lab(98.84% .0000298023 -.0000119209);
    --accent: lab(61.9076% -72.6351 -.422347);
    --accent-foreground: lab(98.84% .0000298023 -.0000119209);
    --muted: lab(94.2156% -1.63248 -3.29677);
    --muted-foreground: lab(47.8298% -5.86715 -12.889);
    --destructive: lab(53.6853% 69.6775 43.7724);
    --destructive-foreground: lab(98.84% .0000298023 -.0000119209);
    --border: lab(88.4155% -1.63096 -3.29593);
    --input: lab(88.4155% -1.63096 -3.29593);
    --ring: lab(42.6287% -33.6028 -41.2853);
    --chart-1: lab(42.6287% -33.6028 -41.2853);
    --chart-2: lab(61.9076% -72.6351 -.422347);
    --chart-3: lab(50.1324% -62.1168 24.1579);
    --chart-4: lab(52.3047% 5.54258 -56.1952);
    --chart-5: lab(52.8802% -35.8508 37.687);
    --sidebar: lab(96.5281% -.82311 -1.65222);
    --sidebar-foreground: lab(7.21722% -3.34518 -9.42569);
    --sidebar-primary: lab(42.6287% -33.6028 -41.2853);
    --sidebar-primary-foreground: lab(98.84% .0000298023 -.0000119209);
    --sidebar-accent: lab(92.0014% -5.07477 -4.90457);
    --sidebar-accent-foreground: lab(7.21722% -3.34518 -9.42569);
    --sidebar-border: lab(88.4155% -1.63096 -3.29593);
    --sidebar-ring: lab(42.6287% -33.6028 -41.2853);
    --shadow-color: lab(42.6287% -33.6028 -41.2853);
  }
}

@theme {
  --color-background: var(--background) ; --color-foreground: var(--foreground) ; --color-card: var(--card) ; --color-card-foreground: var(--card-foreground) ; --color-popover: var(--popover) ; --color-popover-foreground: var(--popover-foreground) ; --color-primary: var(--primary) ; --color-primary-foreground: var(--primary-foreground) ; --color-secondary: var(--secondary) ; --color-secondary-foreground: var(--secondary-foreground) ; --color-muted: var(--muted) ; --color-muted-foreground: var(--muted-foreground) ; --color-accent: var(--accent) ; --color-accent-foreground: var(--accent-foreground) ; --color-destructive: var(--destructive) ; --color-destructive-foreground: var(--destructive-foreground) ; --color-border: var(--border) ; --color-input: var(--input) ; --color-ring: var(--ring) ; --radius-sm: calc(var(--radius) * .5) ; --radius-md: var(--radius) ; --radius-lg: calc(var(--radius) * 1.5) ; --radius-xl: calc(var(--radius) * 2) ; --radius-2xl: calc(var(--radius) * 3) ; --radius-full: 9999px;
}

/*# sourceMappingURL=styles_index_css_65f1660e._.single.css.map*/